body {
	font-family: HelveticaNeue;
}

a {
	color: #ffffff;
	text-decoration-line: none;
}

p {
	color: #8A8C8E;
}

header {
	background: linear-gradient(to bottom, rgba(77,92,103,1) 0%,rgba(75,89,100,1) 100%);
}

header .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 45px;
}

.navbar-header {
	padding-top: 30px;
}

.container>.navbar-collapse {
	margin-left: 0px;
	margin-right: 0px;
	border: none;
}

header .navbar-nav {
	margin: 0px;
}

header .navbar-brand {
	height: auto;
	text-align: left;
}

header div.navbar-header {
	display: inline;
}

.icon-bar {
	background: #fff;
}

header div.container nav a + a span {
	display: none;
}

header ul.nav{

}

.nav>li {
	margin-right: 10px;
}
.nav>li:last-child {
    margin-right: 0px;
}
.nav>li>a:focus{
	background: transparent;
	color: #fff;
}

.nav>li>a {
 	padding: 5px 15px;
 	display: block;
 }

.nav>li>a:hover {
 	background: linear-gradient(to bottom, rgba(56,66,73,1) 0%,rgba(65,76,84,1) 49%,rgba(69,81,90,1) 100%);
 	border-radius: 18px;
	border-top: 1px solid #282E34;
	border-bottom: 1px solid #67737D;
	color: #fff;
 }


nav li {
	display: inline-block;
	list-style-type: none;
	margin-left: 20px;
}

nav ul li:first-child {
	margin: 0;
}


nav ul li a:hover {
	background: linear-gradient(to bottom, rgba(56,66,73,1) 0%,rgba(65,76,84,1) 49%,rgba(69,81,90,1) 100%);
	border-radius: 18px;
	border-top: 1px solid #282E34;
	border-bottom: 1px solid #67737D;
	color: #ffffff;
	text-decoration-line: none;
	transition: all 0.5s ease;
}

header div.container nav a ~ span {
	display: none;
	font-size: 32px;
	color: #ffffff;
	position: absolute;
	right: 15px;
	top: 40px;
}

.container {
  	max-width: 992px;
  	margin: 0 auto;
  	padding: 0 15px;
}


.clearfix {
  content: "";
  display: table;
  clear: both;
}

div.our-services {
	background: linear-gradient(to bottom, rgba(75,89,100,1) 0%,rgba(74,88,99,1) 8%,rgba(76,91,102,1) 12%,rgba(75,89,100,1) 29%,rgba(77,92,103,1) 37%,rgba(74,89,100,1) 46%,rgba(76,91,103,1) 58%,rgba(74,88,99,1) 71%,rgba(76,91,102,1) 75%,rgba(75,89,100,1) 92%,rgba(77,92,103,1) 100%);
}

div.our-services div.container {
	position: relative;
}

.wrapper-img {
	min-height: 504px;
}

.inner-wraper-img {
	position: absolute;
	bottom: 0;
}

div.our-services div.container img {
	padding-top: 60px;
	max-width: 96%;
}

.slider-partners {
	padding-left: 0px;
}

div.our-services div.container div.our-activity h1 {
	font-size: 42px;
	font-family:  HelveticaNeue-Bold;
	color: #ffffff;
}

div.our-services div.container div.our-activity p {
	margin-top: 20px;
	font: 16px;
	font-family: HelveticaNeue;
}

div.our-services div.container div.our-activity p:nth-child(2) {
	color: #ffffff;
}

div.our-services div.container div.our-activity {
    padding-top: 125px;
    padding-bottom: 94px;
}

div.our-services div.container div.our-activity button {
	background: linear-gradient(to bottom, rgba(33,108,160,1) 0%,rgba(55,138,205,1) 98%,rgba(82,154,212,1) 100%);
	border-radius: 18px;
	border-top: 1px solid #A0CFEA;
	border-bottom: 1px solid #529AD4;
 	border-left:  none;
 	border-right: none;
	width: 200px;
	height: 44px;
	margin-top: 25px;
	font-size: 13px;
	font-family:  HelveticaNeue-Bold;
	color: #ffffff;
	cursor: pointer;
}

button:focus {
	outline: none;
	border: none;
}

div.our-services div.container div.our-activity button:hover {
	background: radial-gradient(ellipse at center, rgba(95,156,207,1) 0%,rgba(91,152,206,1) 3%,rgba(93,153,207,1) 24%,rgba(86,140,201,1) 79%,rgba(82,132,196,1) 97%,rgba(75,127,184,1) 100%);
}

div.our-services div.container div.our-activity button:focus {
	border: none;
	outline: none;
}

div.partners {
	border-bottom: 1px solid #C3C3C3;
}


div.partners div.container ul.slider-partners li a {
	color: transparent;
}

div.partners div.container ul.slider-partners li a :active {
	border: none;
	outline: none;
}

.slick-slide a:focus {
	border: none;
	outline: none;
}

.slick-slide a:visited {
	border: none;
	outline: none;
}

div.our-services div.container div.our-activity button + p {
	display: inline;
}

div.our-services div.container div.our-activity button + p > span {
	font-size: 15px;
	font-family: HelveticaNeue;
	color: #ffffff;
	margin-left: 20px;
	margin-right: 15px;
}

div.our-services div.container div.our-activity button + p a {
	font-size: 13px;
	font-family: HelveticaNeue-Bold;
	border-bottom: 1px solid #ffffff;
}

div.our-services div.container div.our-activity button + p a:hover {
	color: #fff;
	text-decoration-line: none;
}

div.our-services div.container div.our-activity button + p > a > span {
	padding-right: 5px;
}

div.partners {
	background: linear-gradient(to bottom, rgba(240,240,240,1) 0%,rgba(233,233,233,1) 100%);
}

div.partners div.container ul.slider-partners li	{
	list-style-type: none;
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 15px;
}


div.partners div.container ul.slider-partners li a img {
	display: inline-block;
}

div.partners div.container ul.slider-partners li:last-child{
	padding-right: 0;
}

div.partners div.container ul.slider-partners li:focus {
	border: none;
	outline: none;
}

div.partners div.container ul.slider-partners li a img:focus {
	border: none;
	outline: none;
}

div.partners div.container ul.slider-partners li a {
	border: none;
}

div.partners div.container div.slider-partners {
	border-bottom: 1px solid #C3C3C3;
}

section.our-advantages {
	background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%);
	padding-top: 95px;
	font-size: 0;
}

section.our-advantages div.container div.advantages-item {
	display: inline-block;
	box-sizing: border-box;
	padding: 15px;
	text-align: center;
	/*padding-top: 95px;*/
}

section.our-advantages div.container div.advantages-item span {
	font-size: 96px;
	color: #7D8F9B;
	border: 5px solid #7D8F9B;
	border-radius: 50%;
	padding: 20px 30px;
}

section.our-advantages div.container div.row div.col-xs-12:first-child  div.advantages-item span {
	padding: 20px 50px;
}

section.our-advantages div.container div.advantages-item:nth-child(2) span {
	padding: 20px 25px;
}

section.our-advantages div.container div.advantages-item div.description {
	position: relative;
}

section.our-advantages div.container div.advantages-item div.description:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: inset 2px -26px 35px -15px rgba(255,255,255,1);
	content: '';
}

section.our-advantages div.container div.advantages-item div.description h3 {
	font-size: 20px;
	font-family: HelveticaNeue;
	color: #4B5A65;
	margin-top: 30px;
}

section.our-advantages div.container div.advantages-item div.description p {
	font-size: 14px;
	font-family: HelveticaNeue;
	color: #A4A4A4;
	margin-top: 15px;
	margin-bottom: 40px;
}

section.our-advantages div.container div.advantages-item button {
	background: linear-gradient(to bottom, rgba(33,108,160,1) 0%,rgba(55,138,205,1) 98%,rgba(82,154,212,1) 100%);
	font-size: 13px;
	color: #ffffff;
	font-family: HelveticaNeue-Bold;
	padding: 10px 10px;
	border-radius: 3px;
	border: none;
	outline: none;
	cursor: pointer;
	border-top: 1px solid #A0CFEA;
	border-bottom: 1px solid #529AD4;
 	border-left:  none;
 	border-right: none;
}

section.our-advantages div.container div.advantages-item button:hover {
	background: radial-gradient(ellipse at center, rgba(95,156,207,1) 0%,rgba(91,152,206,1) 3%,rgba(93,153,207,1) 24%,rgba(86,140,201,1) 79%,rgba(82,132,196,1) 97%,rgba(75,127,184,1) 100%);
}

div.our-works div.container h3 + ul.slider-works {
	margin-top: 25px;
}

div.our-works div.container h3 span {
	position: relative;
	top: -3px;
	margin-right: 10px;
	color: #9AC531;
}

div.our-works div.container h3 {
	font-size: 20px;
	color: #4C5B66;
	padding-top: 70px;
	font-weight: normal;
}

div.our-works div.container h3 + ul.slider-works {
	padding-bottom: 120px;
	padding-left: 20px;
	padding-right: 20px;
}

div.our-works div.container h3 + ul.slider-works li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

div.our-works div.container h3 + ul.slider-works li a {
	display: block;
}

div.our-works div.container h3 +  ul.slider-works li a img {
	display: inline-block;
	width: 100%;
	border-bottom: 4px double #B2B2B2;
	border-left: 4px double #D9D9D9;
	border-right: 4px double #D9D9D9;
	border-top: 4px double #F2F2F2;
	box-sizing: border-box;
}

.fa-chevron-circle-right {
	font-size: 36px;
	position: absolute;
	right: -40px;
	top: 70px;
	cursor: pointer;
	color: #E6E9EB;
	background: #5D6062;
	border-radius: 30px;
	height: 27px;
    line-height: 29px;
    width: 26px;
}

.fa-chevron-circle-left {
	font-size: 36px;
	position: absolute;
	left: -40px;
	top: 70px;
	cursor: pointer;
	color: #E6E9EB;
	background: #5D6062;
	border-radius: 30px;
	height: 27px;
    line-height: 29px;
    width: 26px;
}

div.post-social div.container div.our-blog h3 span {
	position: relative;
	margin-right: 10px;
	color: #F9993C;
	font-size: 24px;
}

div.post-social div.container div.our-blog h3 {
	font-size: 20px;
	color: #4C5B66;
	padding-bottom: 20px;
	font-weight: normal;
}

div.post-social div.container div.our-blog {
	max-width: 580px;
}

div.post-social div.container div.our-blog div.blog {
	max-width: 480px;
}

div.post-social div.container div.our-blog div.blog img {
	float: left;
	border-bottom: 4px double #B2B2B2;
	border-left: 4px double #D9D9D9;
	border-right: 4px double #D9D9D9;
	border-top: 4px double #F2F2F2;
	box-sizing: border-box;
	margin-right: 15px;
}

div.post-social div.container div.our-blog div.blog {
	padding-bottom: 25px;
}

div.post-social div.container div.our-blog div.blog h4 {
	font-size: 15px;
	color: #5c5c5c;
	margin-bottom: 10px;
	font-weight: normal;
}

div.post-social div.container div.our-blog div.blog p {
	font-size: 13px;
	color: #888888;
	line-height: 1.5;
	margin-bottom: 5px;
}

div.post-social div.container div.our-blog div.blog p span a {
	font-size: 13px;
	color: #3c92d0;
}

div.post-social div.container div.our-blog div.blog p span {
	font-size: 11px;
	color: #b0b0b0;
}

div.post-social div.container div.our-blog div.blog p a {
	padding: 0;
}

div.post-social div.container div.our-blog p a {
	font-size: 13px;
	color: #3c92d0;
}

div.post-social div.container div.our-blog {
	float: left;
}

div.post-social div.container div.our-twitter {
	max-width: 380px;
	float: right;
	padding-bottom: 60px;
}

div.post-social div.container div.our-twitter h3 span {
	position: relative;
	margin-right: 10px;
	color: #00ACED;
	font-size: 24px;
}

div.post-social div.container div.our-twitter h3 {
	font-size: 20px;
	color: #4C5B66;
	padding-bottom: 20px;
	font-weight: normal;
}

div.post-social div.container div.our-twitter p {
	font-size: 13px;
	color: #888888;
	line-height: 1.62;
}

div.post-social div.container div.our-twitter p span {
	color: #515151;
}

div.post-social div.container div.our-twitter p a {
	color: #3d93d1;
}

div.post-social div.container div.our-twitter p a:first-child {
	margin-right: 5px;
}

div.post-social div.container div.our-twitter p:last-child span {
	font-size: 11px;
	color: #a4a4a4;
}

div.post-social div.container div.our-twitter div.tweet {
	padding-bottom: 11px;
	box-sizing: border-box;
}

div.post-social div.container div.our-blog p a {
	font-size: 13px;
	color: #3c92d0;
}

div.post-social {
	overflow: hidden;
}

footer {
	border-top: 1px solid #E8E8E8;
	padding-top: 20px;
	padding-bottom: 35px;
}

footer div.container div.row div.col-xs-12:first-child {
	text-align: left;
}

footer div.container div.row div.col-xs-12:first-child p {
	display: inline-block;
	font-size: 13px;
	color: #8a8a8a;
	margin-top: 10px;
	margin-bottom: 0px;
}

footer div.container div.row div.col-xs-12:last-child ul.our-social li {
	display: inline-block;
	margin-right: 0px;
}

footer div.container div.row div.col-xs-12:last-child ul.our-social li:first-child {
	padding-left: 0;
}

footer div.container div.row div.col-xs-12:last-child ul.our-social li a span {
	font-size: 25px;
}

footer div.containerdiv.row div.col-xs-12:last-child ul.our-social li a {
	display: block;
}

footer div.container div.row div.col-xs-12:last-child ul.our-social li a:hover {
	background: none;
	border: none;
	outline: none;
}

footer div.container div.row div.col-xs-12:last-child ul.our-social {
	float: right;
}

.fa-facebook-square {
	color: #38548F;
}

.fa-twitter-square {
	color: #32CDFB;
}

.fa-linkedin-square {
	color: #237DAD;
}

.fa-dribbble {
	color: #EF6499;
}